.contenedor {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.cuadrado1 {
	height: 150px;
	width: 150px;
	background-color: cadetblue;
	margin: auto;
	transition: all 1s ease 1s;
	opacity: 1;
}
.cuadrado1:hover {
	cursor: pointer;
	background-color: lawngreen;
	transform: translate(300px);
	transition: all 2s ease 1s;
	opacity: 0;
}
.cuadrado2 {
	height: 150px;
	width: 150px;
	background-color: navy;
	margin: auto;
	transition: all 1s ease 1s;
}
.cuadrado2:hover {
	cursor: pointer;
	background-color: darkred;
	transform: rotate(360deg);
}
